@if (form) {

  <div *ngIf="loading" class="loading-container">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <form  *ngIf="!loading && form" [formGroup]="form" (ngSubmit)="buttonSaveBrand()" class="pt-2">
    <div class="p-fluid">
      <div class="field mb-3">

          <app-input-text
            label="Brand"
            for="brand"
            type="text"
            id="brand"
            placeholder="Ingresa la marca"
            controlName="name"></app-input-text>
             
      </div>
      <button type="submit" pButton label="Guardar" class="mt-3"></button>
    </div>

  </form>
}
